<h2>Lists created by users</h2>

<table>
<tbody>
<% @lists.each do |list| %>
<tr>
 <td> <%= list.name %></td>

</tr>
<% end %>
</tbody>
</table>

<%= cl_image_tag("cnok1u6bs0rar92ilagx",
      width: 400, height: 300, crop: :fill) %>
